---
database:
  host: localhost
  port: 27017
  db_name: dimosir
  user: dimosir
  password: eh554h4u3yhe
peer:
  ip: 127.0.0.1
  port: 10000
logging:
  log_file: /tmp/dimosir/dimosir.log
  log_level: 1
performance:
  thread_pool_size: 5
